.footer{
  background: #131313;
  padding: 22px 0;
  .container{
    align-items: center;
  }

  .social{
    a{
      + a{
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer{
    > .flex-row{
      flex-direction: column;
    }

    .copyright{
      padding-top: 30px;
    }
  }
}