.sect1 {
  padding: 0;
  background: url("../img/sect1-bg.jpg") top center no-repeat;

  h1 {
    margin-top: 150px;
  }

  .text {
    padding-top: 14px;
    font-size: 18px;
    line-height: 22px;
  }

  .advantages {
    padding: 60px 0 60px;
    justify-content: flex-start;

    li {
      text-align: center;
      width: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      font-size: 18px;
      line-height: 22px;

      + li {
        margin-left: 30px;
      }

      .icon {
        width: 40px;
        height: 30px;
        position: relative;
        margin-bottom: 15px;
      }

      svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
      }
    }
  }

  .btn-mob{
    display: none;
    position: relative;
    z-index: 1;
  }

  .call-to-action {
    background: rgba(0, 0, 0, 0.59);
    backdrop-filter: blur(10px);
    padding: 35px 0;

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
    }

    .text {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 1366px) {
  .sect1 {
    background-position-y: -100px;
    background-position-x: 40%;

    h1 {
      margin-top: 60px;
      font-size: 32px;
      line-height: 42px;
    }
  }
  .sect1 .call-to-action .title {
    font-size: 20px;
    line-height: 26px;
  }
  .sect1 .call-to-action .text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1280px) {
  .sect1 {
    background-position-y: -100px;
    background-size: cover;
    background-position-x: 20%;

    h1 {
      margin-top: 40px;
      font-size: 26px;
      line-height: 36px;
    }

    .text {
      font-size: 16px;
      line-height: 20px;
    }

    .advantages {
      padding: 40px 0 40px;
      li {
        width: 150px;
        font-size: 16px;

        + li {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .sect1 {

    h1 {
      margin-top: 60px;
      font-size: 32px;
      line-height: 38px;
      width: 500px;

      br {
        display: none;
      }
    }

    .text {
      font-size: 16px;
      line-height: 20px;
    }

    .call-to-action {
      .title {
        font-size: 20px;
        line-height: 26px;
      }

      .text {
        br {
          display: none;
        }
      }
    }


  }
}

@media (max-width: 768px) {
  .sect1 {
    background-position-x: center;
    background-position-y: -140px;
    position: relative;
    padding-bottom: 50px;

    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(179.97deg, rgba(0, 10, 8, 0) 5.22%, #030907 37.79%, #070705 95.51%);
      width: 100%;
      height: 370px;
      z-index: 0;

    }

    h1 {
      position: relative;
      z-index: 1;
      margin-top: 180px;
      width: 100%;
      font-size: 28px;
      line-height: 34px;
      span{
        &:first-child{
          display: block;
        }
      }
    }

    .text{
      position: relative;
      z-index: 1;
      padding: 15px 0 50px;
    }

    .btn-mob{
      display: block;
      padding: 0 50px;
    }

    .call-to-action,
    .advantages{
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .sect1 {
    background-position-x: center;
    background-position-y: -110px;
    padding-bottom: 0;

    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(179.97deg, rgba(0, 10, 8, 0) 5.22%, #030907 37.79%, #070705 95.51%);
      width: 100%;
      height: 370px;
      z-index: 0;

    }

    h1 {
      position: relative;
      z-index: 1;
      margin-top: 200px;
      width: 100%;
      font-size: 22px;
      line-height: 27px;
      span{
        &:first-child{
          display: block;
        }
      }
    }

    .text{
      position: relative;
      z-index: 1;
      padding: 10px 0 35px;
    }

    .btn-mob{
      display: block;
      width: 100%;
    }

    .call-to-action,
    .advantages{
      display: none;
    }
  }
}

@media (max-width: 380px) {
  .sect1{
    background-position-x: 58%;
    background-position-y: -80px;
  }
  .sect1 .btn-mob {
    padding: 0 10px;
  }
}