.sect8 {
  padding-bottom: 50px;
  h2 {
    padding-bottom: 100px;
  }

  .item {
    width: 25%;
    padding: 0 15px;
    overflow: hidden;

    &:first-child {
      .number {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      .number {
        &:after {
          display: none;
        }
      }
    }

    .number {
      margin: 5px 0 50px;
      position: relative;

      &:after,
      &:before {
        position: absolute;
        width: 115px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        height: 2px;
        background: #22C50C;
      }

      &:before {
        left: -15px;
      }


      span {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 36px;
        line-height: 55px;
        position: relative;
        z-index: 1;

        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: $cc;
          border-radius: 50%;
          z-index: -2;
          content: '';
          width: 65px;
          height: 65px;
          background: #093227;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: $cc;
          border-radius: 50%;
          z-index: -1;
          content: '';
          width: 55px;
          height: 55px;
          background: #22C50C;
        }
      }
    }

    .title {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-height: 44px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  .button-green{
    margin: 70px auto 0;
    padding: 0 50px;

  }
}

@media (max-width: 1024px) {
  .sect8 {
    h2 {
      padding-bottom: 50px;
    }
    .flex-row {
      flex-direction: column;
    }

    .item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: visible;

      + .item {
        margin-top: 40px;
      }

      .number {
        margin: 0 50px 0 0;
        &:after,
        &:before {
          position: absolute;
          height: 140px;
          top: 50%;
          left: 50%;
          transform: translateY(0) translateX(-50%);
          content: '';
          width: 2px;
          background: #22C50C;
        }

        &:before {
          display: none;
        }
      }

      .title {
        margin-bottom: 10px;
        justify-content: flex-start;
        min-height: auto;
        text-align: left;

        br {
          display: none;
        }
      }

      .text {
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  .sect8{
    .item{
      align-items: flex-start;
      padding: 0;

      .number {
        margin: 0 30px 0 0;

        &:after{
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .sect8 {
    .item {
      .number {
        margin: 0 15px 0 0;

        &:after {
          height: 240px;
        }
        span{
          width: 40px;
          height: 40px;
          font-size: 24px;
          line-height: 40px;
          &:before{
            width: 40px;
            height: 40px;
          }
          &:after{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    .button-green {
      margin: 40px auto 0;
      padding: 0;
      width: 100%;
    }
  }
}