.sect4 {
  h2 {
    padding-bottom: 25px;
  }

  .text {
    padding-bottom: 75px;
  }

  &-slider {
    .left-side,
    .right-side {
      width: 50%;
    }

    .left-side {
      padding-left: 40px;

      @media (max-width: 1024px) {
        padding-left: 0;
      }
      img {
        width: 100%;
      }
    }

    .right-side {
      padding-left: 80px;
    }

    .car-title {
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
      text-transform: uppercase;
      text-shadow: 0 20px 12px rgba(0, 0, 0, 0.02);
      padding-bottom: 14px;
    }

    .price {
      span {
        font-size: 16px;
        line-height: 20px;
        text-shadow: 0 20px 12px rgba(0, 0, 0, 0.02);
      }

      .profit{
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
      }

      p.green {
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        text-shadow: 0 20px 12px rgba(0, 0, 0, 0.02);

      }
    }

    ul.list {
      padding-top: 30px;
      li {
        font-size: 14px;
        line-height: 30px;
        padding: 0 20px;

        &:nth-child(2n + 1) {
          background: $grey;
          border-radius: 15px;

        }

        span {
          display: inline-block;

          &:first-child {
            width: 250px;
          }
        }
      }
    }
  }

  .button-green{
    margin: 55px auto 0;
    padding: 0 70px 0;
  }
}

@media (max-width: 1280px) {
  .sect4-slider .right-side {
    padding-left: 65px;
  }
  .sect4-slider .car-title {
    font-size: 28px;
    line-height: 38px;
  }
  .sect4-slider .price p.green {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 1024px) {
  .sect4 {
    .text {
      padding-bottom: 50px;
    }

    .button-green{
      margin: 80px auto 0;
    }
  }
  .sect4-slider{
    .flex-row{
      position: relative;
      padding-bottom: 210px;
    }

    .right-side {
      padding-left: 30px;
    }

    ul.list{
      position: absolute;
      width: 400px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .my-slick-dots-v{
      li{
        display: inline-block;
      }
    }
  }
}

@media (max-width: 768px) {
  .sect4{
    h2{
      br{
        display: none;
      }
    }

    .text{
      br {

        display: none;
      }
    }
  }
  .sect4-slider {
    .flex-row {
      flex-direction: column;
      padding-bottom: 0;
    }

    .left-side,
    .right-side {
      width: 100%;
    }

    .right-side {
      margin-top: 30px;
      padding-left: 0;
    }

    ul.list {
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      transform: none;
    }
  }
}

@media (max-width: 480px) {
  .sect4-slider ul.list li span:first-child {
    width: 210px;
  }
  .sect4-slider .car-title {
    font-size: 18px;
    line-height: 24px;
  }
  .sect4-slider .price p.green {
    font-size: 18px;
    line-height: 24px;
  }
  .sect4-slider ul.list{
    padding: 20px 0 65px;
  }
  .sect4-slider .price .profit{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 380px) {
  .sect4-slider ul.list li span:first-child {
    width: 150px;
  }
}