.my-slick-dots-v,
.my-slick-dots-h {
  position: absolute;
  text-align: center;
  list-style: none;

  li {
    margin: 6px 5px;
    border: 1px solid transparent;
    display: inline-block;

    &.slick-active button {
      background: #fff;
    }

    button {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      color: transparent;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.my-slick-dots-v {
  top: 50%;
  left: calc(50% + 30px);
  transform: translateX(-50%) translateY(-50%);

  li {
    display: block;

    button {
    }
  }
}

.my-slick-dots-h{
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  outline: none;
  transform: $cc;
  fill-opacity: .2;
  transition: $tr-all;

  &:hover {
    fill-opacity: 1;
  }

  &.my-slick{
    &-prev-v{
      left: calc(50% + 30px);
    }
    &-next-v{
      left: calc(50% + 30px);
    }
    &-prev-h{
      bottom: -48px;
    }
    &-next-h{
      bottom: -48px;
    }
  }
}

.slick-dotted.slick-slider{
  margin-bottom: 0;
}