@function get-vh($object) {
  $vh: (600 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

$black: #040402;
$green: #22C50C;
$green-hover: #38E321;
$tr-all: all .2s ease;
$cc: translateY(-50%) translateX(-50%);
$grey: #181818;

//pushy-style
$pushy-width: 280px;
$pushy-min-height: 640px;
$pushy-bg: #020402;
//pushy-style:end

//md-modal
$bg-overlay: #002255;
$max-width-modal: 540px;
$min-width-modal: 320px;
$color-modal-1: #ffffff;
$bg-modal-1: #003584;